@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

.card-circle{
    text-align:center;
     margin-top:30px;
     background:#131921;    
     border:10px solid transparent;
     color:#fff;
     Font-family: Montserrat;
     padding:30px;
     border-radius:50%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     text-align: center;
     white-space: normal;
    }
 .card-circle .card-title{
    font-weight:600;
     font-size:20px;
    }
 
 .card-circle:nth-child(2){
    background:#142850;
}
 
.card-circle .btn,.card-circle .card-icon i,.card-circle{
   transition: all ease-in-out 0.2s;
}
 
 
 .card-circle:hover{
    border:10px solid #FEBD69;
}
 .card-circle:hover i {
   text-shadow: 0px -1px 10px #00A8CC;
    transform:scale(1.2)rotate(20deg);
}
 @media only screen and (min-width: 1200px) {
     .card-circle:nth-child(3){
         margin-left:-40px;
         z-index:0;
    }
     .card-circle{
         width:200px;
         height:200px;
    }
     .card-circle:nth-child(2){
         margin-left:-20px;
         box-shadow: 1px 2px 20px 8px rgba(241, 235, 235, 0.12);
         transform: scale(1.2);
         z-index:1;
    }
   .card-circle .card-icon i{
      margin-top: 20px;
     }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
   .card-circle{
         width:340px;
         height:340px;
    }
  .card-circle .card-icon i{
     font-size:50px;
   }
  .card-circle .card-icon i{
      margin-top: -25px;
     }
   .card-circle:nth-child(3){
         margin-left:-50px;
         z-index:0;
    }
   .card-circle:nth-child(2){
         margin-left:-20px;
         z-index:1;
    }
}
