<table class="table table-image">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Photo</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date Of Birth</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let author of authors | paginate : pagingConfig; let i = index">
            <th scope="row">{{author.id}}</th>
            <td class="w-25">
                <img height="300" width="200" [src]="author.image" class="img-fluid img-thumbnail" [alt]="author.firstName+'.img'">
            </td>
            <td>{{author.firstName}}</td>
            <td>{{author.lastName}}</td>
            <td>{{author.dob | date: 'mediumDate'}}</td>
            <td>
                <div class="d-flex w-100 h-100 justify-content-around pt-3 align-items-center">
                    <i (click)="edit(author)" class="fa-solid fa-lg fa-pencil cursor-pointer text-primary me-3"></i>
                    <app-admin-delete [item]="author" />
                </div>
            </td>
        </tr>

</table>

<div class="d-flex justify-content-center mt-auto">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
</div>