
<div class="container mt-4 border p-4 " >
    <div class="row">
      <div class="col-md-2">
        <div>
          <img [src]="myauthorbook.image"
            class="img-fluid shadow-1" alt="author avatar"  />
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="text-center">
          <p class="fw-bold lead mb-2"><strong>{{myauthorbook.name}}</strong></p>
          <p>rating.....</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end align-items-center">
          <select class="form-select">
            <option selected>Choose...</option>
            <!-- Add options here -->
          </select>
        </div>
      </div>
  </div>
</div>
  