
<div class="container mt-4 border p-4  cursor-pointer" (click)="redirctTobook(myauthorbook._id)">
    <div class="row">
      <div class="col-md-2">
        <div>
          <img [src]="myauthorbook.image"
            class="img-fluid shadow-1" alt="author avatar"  />
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="text-center">
          <p class="fw-bold lead mb-2"><strong>{{myauthorbook.name}}</strong></p>
          <div class="star-ratings">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end align-items-center">
        </div>
      </div>
  </div>
</div>
  