
<div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{mybook.name}}</h5>
      <p class="card-text">{{mybook.description}}</p>
      <p class="card-text"><strong>Author Name:</strong> <a href="/author/{{mybook.authorId}}">{{mybook.authorId}}</a></p>
    </div>
    </div>
      </div>    
       
    
    </div>
    

    </div>