
<div class="container">
  <div class="row">
    
    <div class="col-md-3">
      <div>
        <img [src]="myreview.author.image"
          class="rounded-circle img-fluid shadow-1" alt="User Image" width="130" height="130" />
      </div>
    </div>

    <div class="col-md-9">
      <div>
          <p class="fw-bold lead mb-2"><strong>{{myreview.author.firstName}} {{myreview.author.lastName}}</strong></p>
        <p class="text-muted fw-light mb-4">
         {{myreview.text}}
        </p>
      </div>
    </div>
 <hr>
 
</div>
</div>
