<table class="table table-image">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (book of books; track book.name; let i = $index) {
        <tr>
            <th scope="row">{{i+1}}</th>
            <td class="w-25">
                <img [src]="book.image" class="img-fluid img-thumbnail" [alt]="book.name+'.img'">
            </td>
            <td>{{book.name}}</td>
            <td>{{book.category.name}}</td>
            <td>{{book.author.firstName + " " + book.author.lastName}}</td>
            <td>
                <div class="d-flex w-100 h-100 justify-content-around align-items-center">
                    <i (click)="edit(book)" class="fa-solid fa-lg fa-pencil cursor-pointer text-primary me-3"></i>
                    <app-admin-delete [item]="book" />
                </div>
            </td>
        </tr>
        }
</table>