<table class="table table-image mb-auto">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let category of categories | paginate : pagingConfig; let i = index">
            <th scope="row">{{category.id}}</th>
            <td>{{category.name}}</td>
            <td>
                <div class="d-flex w-100 h-100 justify-content-around pt-3 align-items-center">
                    <i (click)="edit(category)" class="fa-solid fa-lg fa-pencil cursor-pointer text-primary me-3"></i>
                    <app-admin-delete [item]="category" />
                </div>
            </td>
        </tr>
    
</table>
<div class="d-flex justify-content-center mt-auto">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
</div>